<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.puj.talktome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.sensor.accelerometer"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TalkToMe"
        tools:targetApi="31">
        <activity
            android:name=".activities.AuthenticatedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activities.NotificacionesProfesionalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ScheduleCitaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AppointmentsProfesionalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManageAppointmentsDetailsProfessional"
            android:exported="false" />
        <activity
            android:name=".activities.NotificacionesTalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PerfilProfesionalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DiagnosticDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PerfilTalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AppointmentsDetailsProfessional"
            android:exported="false" />
        <activity
            android:name=".activities.ListTalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SolicitudesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CertificatesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LocationsTalkerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activities.DiagnosesTalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AvailableProfessionalsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AppointmentsDetailsTalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AppointmentsTalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PerfilProfesional2Activity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeProfesionalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeTalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SProfesionalActivity"
            android:exported="false" />
        <activity
            android:name=".activities.STalkerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RoleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6SBWvwZsDv6s-hzesv0pKG2UUyeZch24" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>